<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="storedProcedures" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <connectionStrings>
    <!--localhost
    <add name="QPTM_INTRA" connectionString="WU+gdXcXR0RYzFclvqC8+QCVDsgQKdnH4AGQ+kFCp4gg5X14eSHi40BqZjnMKvYkQ80gMcWWqziqrxPOWopQGAjIxYIAxCL6C2A9FyE64MA="/>-->
    
    <!--TQINTRA2 -->
    <!--<add name="QPTM_INTRA"
         connectionString="bN3V0KU8JoFtHJhCz2Y1UWnYUhVlVRAdWaF3U0nk+AYLqsbkCs0laKGSSs3TuDw+2UEyFlc94XVaY7blhWEj+WgB+xo9B1RsJRYwNdUW46KTiQdSA1s0aWnHTF6Zjcbk" />-->
    
    <!--DQINTRA2  -->
    <!--<add name="QPTM_INTRA" connectionString="O2MRneE7U1FuZlxMrg0rIwvmOBl6PV1K2YKzMB4iNtJbmV26NypP0QgMJvf1oSCDtPyzRZwGMzVaxbYWVueVCSlETsxdwCgtJaN9ema2gp9f603e1vd1APQmoMtfVsRU"/>--> 
    
    <!--QQINTRA2 -->
    <!--QPTM_READONLY-->
    <!--<add name="QPTM_INTRA" connectionString="+qkgExYk658HaM7TxER9Cv+MCancWfhCUk3XdtoHpmzt+iiLyH9V4A1Xj7pxJsX5/Gh9bIk/3Fomcqt6ywFduwr2NuNc7tsYjW+1hMyrJtIJVasvLdRy5UV/L4XXRvQZ"/>-->
    <!-- QPTM_ONK -->
    <add name="QPTM_INTRA" connectionString="asVyX7zGMCZljz7p3iqhyVcn46IjNtu3pBhquKVEWaJJjoFZVzkpMaXqmzY5zLH3IbJHNhMdG0EQ/nJGmLJnJFTvmgQYn89ExHytsyKirFpgjEBtXcTZgOM7pj1UFnYE+nAQ1ewg+vpNPJ0j/1AXTb+PUWuSAMdpHxZD7GQX5Q7qh1I281R3zF/+zEEvP1IuLMu0zTbPGlf4DSBU5nig8lOCnuwn7dtJbnTGGrmckXU=" />
    
    <!--PQINTRA2-->
    <!--<add name="QPTM_INTRA" connectionString="SbOYAYhJ7mMHtS41MSI0LCH2NQQa+pnGPgOyQZ6XJA54Te92mA5KxucUpI0D/MFUPelcxe13gve3ThPXuPV/mmBfBcQ7XwNl4lmbZTOyTHYZbIf3WTycNYuseNjsA3j4"/>-->
  </connectionStrings>

  <appSettings>

    <!--Target file location, must end with a backslash.-->
    <!--<add key="targetDirectory" value="C:\Data\System\Quorum\Project\Interfaces\TRC\Files\Test\" />-->
    <add key="targetDirectory" value="\\srvapp525oke\data\QPTM_Intra\PROD\QPTM4.0\Reports\Exports\TRCFiles\" />

    <!--Log file location, must end with a backslash.  The log only has errors written to it.-->
    <!--<add key="logDirectory" value="C:\Data\System\Quorum\Project\Interfaces\TRC\Files\Test\" />-->
    <add key="logDirectory" value="\\srvapp525oke\data\QPTM_Intra\PROD\QPTM4.0\Reports\Exports\TRCFiles\" />


    <!-- TO RUN THE SERVICE MANUALLY, THIS NEEDS REMOVED FROM THIS CONFIG FILE AND THE LOG DIRECTORY ABOVE UNCOMMENTED -->
    <!--<add key="TariffFileWatchPath" value="\\srvapp525oke\data\QPTM_Intra\Test\Regulatory\TRC_INBOUND" />
    <add key="TariffFileWatchArchivePath" value="\\srvapp525oke\data\QPTM_Intra\Test\Regulatory\TRC_INBOUND\ARCHIVED" />
    <add key="logDirectory" value="\\srvapp525oke\data\QPTM_Intra\Test\Regulatory\TRC_INBOUND\" />-->
    <!-- TO RUN THE SERVICE MANUALLY, THIS NEEDS REMOVED FROM THIS CONFIG FILE AND THE LOG DIRECTORY ABOVE UNCOMMENTED -->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>

  <storedProcedures>
    <add key="AUTHORIZING_AGENT" value="QPTM_ONK.TRC_FILES.AUTHORIZING_AGENT" />
    <add key="FILE_TERMINATOR" value="QPTM_ONK.TRC_FILES.FILE_TERMINATOR" />
    <add key="TAR2_CUSTOMER" value="QPTM_ONK.TRC_FILES.TAR2_CUSTOMER" />
    <add key="TAR3_DELIVERYPOINT" value="QPTM_ONK.TRC_FILES.TAR3_DELIVERYPOINT" />
    <add key="TAR4_DATAPOINT" value="QPTM_ONK.TRC_FILES.TAR4_DATAPOINT" />
    <add key="GSD2_HEADER" value="QPTM_ONK.TRC_FILES.GSD2_HEADER" />
    <add key="GSD2_CUSTOMER" value="QPTM_ONK.TRC_FILES.GSD2_CUSTOMER" />
    <add key="GSD2_DELIVERYPOINT" value="QPTM_ONK.TRC_FILES.GSD2_DELIVERYPOINT" />
    <add key="GSD2_CURRATECOMP" value="QPTM_ONK.TRC_FILES.GSD2_CURRATECOMP" />

    <!-- TO RUN THE SERVICE MANUALLY, THIS NEEDS REMOVED FROM THIS CONFIG FILE  -->
    <!--<add key="TRC_GSD2_BULKINSERT" value="QPTM_ONK.TRC_GSD2_TARIFF_BULK_INSERT" />
    <add key="TRC_GSD2_BULKUPDATE" value="QPTM_ONK.TRC_GSD2_TARIFF_BULK_UPDATE" />-->
    <!-- TO RUN THE SERVICE MANUALLY, THIS NEEDS REMOVED FROM THIS CONFIG FILE  -->
    
    
  </storedProcedures>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>

    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>

  </system.web>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>