<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="storedProcedures" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <connectionStrings>
    <!--localhost
    <add name="QPTM_INTRA" connectionString="WU+gdXcXR0RYzFclvqC8+QCVDsgQKdnH4AGQ+kFCp4gg5X14eSHi40BqZjnMKvYkQ80gMcWWqziqrxPOWopQGAjIxYIAxCL6C2A9FyE64MA="/>-->
    <!--TQINTRA2 -->
    <add name="QPTM_INTRA"
         connectionString="bN3V0KU8JoFtHJhCz2Y1UWnYUhVlVRAdWaF3U0nk+AYLqsbkCs0laKGSSs3TuDw+2UEyFlc94XVaY7blhWEj+WgB+xo9B1RsJRYwNdUW46KTiQdSA1s0aWnHTF6Zjcbk" />
    <!--DQINTRA2 
    <add name="QPTM_INTRA" connectionString="O2MRneE7U1FuZlxMrg0rIwvmOBl6PV1K2YKzMB4iNtJbmV26NypP0QgMJvf1oSCDtPyzRZwGMzVaxbYWVueVCSlETsxdwCgtJaN9ema2gp9f603e1vd1APQmoMtfVsRU"/> -->
    <!--QQINTRA2 
    <add name="QPTM_INTRA" connectionString="+qkgExYk658HaM7TxER9Cv+MCancWfhCUk3XdtoHpmzt+iiLyH9V4A1Xj7pxJsX5UT6qOv7Tq2c2ooA0ivpBTsU8aLB4UvJllxJoQI3Jxb4eaZf2JDntfRxOmK48kZYk"/>-->
    <!--PQINTRA2-->
    <!--<add name="QPTM_INTRA" connectionString="asVyX7zGMCZljz7p3iqhyVcn46IjNtu3pBhquKVEWaJJjoFZVzkpMaXqmzY5zLH3mStrj/MGBPZ5uhjHinajBQBFUlS62F5sTmu6+0hvb+w6PwF775x6Re5meZ6BVbgpE9CLVjS7nVnOEsDqaVkmk6S5y3UqEDZm+TdgatpPcVlizm1koKl25RDGoplIQEgIBRJw+vQxZxeHzFTawn4+OQ=="/>-->
  </connectionStrings>

  <appSettings>
    <!--<add key="TariffFileWatchPath" value="C:\Data\System\Quorum\Project\Interfaces\TRC\Files\Test" />
    <add key="TariffFileWatchArchivePath" value="C:\Data\System\Quorum\Project\Interfaces\TRC\Files\Test\Archive" />
    <add key="logDirectory" value="C:\Data\System\Quorum\Project\Interfaces\TRC\Files\Test\" />-->
    
    <add key="TariffFileWatchPath" value="\\srvapp525oke\data\QPTM_Intra\Test\Regulatory\TRC_INBOUND" />
    <add key="TariffFileWatchArchivePath" value="\\srvapp525oke\data\QPTM_Intra\Test\Regulatory\TRC_INBOUND\ARCHIVED" />
    <add key="logDirectory" value="\\srvapp525oke\data\QPTM_Intra\Test\Regulatory\TRC_INBOUND\" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <storedProcedures>
    <add key="TRC_GSD2_BULKINSERT" value="QPTM_ONK.TRC_GSD2_TARIFF_BULK_INSERT" />
    <add key="TRC_GSD2_BULKUPDATE" value="QPTM_ONK.TRC_GSD2_TARIFF_BULK_UPDATE" />
  </storedProcedures>

  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>